In [1]:
%pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\sewml\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\sewml\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2.3.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sewml\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\sewml\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sewml\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in c:\users\sewml\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

temperatures = pd.Series([22.1, 23.4, 21.8, 24.0, 22.5], index=['Washington', 'Oregon', 'California', 'Nevada', 'Idaho'])
print("Moje temperatury:")
print(temperatures)

Moje temperatury:
Washington    22.1
Oregon        23.4
California    21.8
Nevada        24.0
Idaho         22.5
dtype: float64

In [3]:
#dostęp do danych 
print(f"\nTemperatura w Oregonie:", temperatures['Oregon'], "stopni")

Temperatura w Oregonie: 23.4 stopni

In [4]:
# operacje wektorowe
# zwiększenie wszystkich temperatur o 1 stopień
temperatures_plus_one = temperatures + 1
print("\nTemperatury po zwiększeniu o 1 stopień:")
print(temperatures_plus_one)

Temperatury po zwiększeniu o 1 stopień:
Washington    23.1
Oregon        24.4
California    22.8
Nevada        25.0
Idaho         23.5
dtype: float64

In [5]:
#średnia temperatura
average_temperature = temperatures.mean()
print(f"\nŚrednia temperatura: {average_temperature:.2f} stopni")

Średnia temperatura: 22.76 stopni

In [6]:
exam1 = [89,85,93,83]
labels = ['Student A', 'Student B', 'Student C', 'Student D']
pd.Series(exam1, labels)

Student A    89
Student B    85
Student C    93
Student D    83
dtype: int64

In [7]:
pd.Series(exam1, labels)['Student C']

np.int64(93)

In [8]:
exam2 = [74,56,44,92]
e1 = pd.Series(exam1, labels)
e2 = pd.Series(exam2, labels)
e1 + e2

Student A    163
Student B    141
Student C    137
Student D    175
dtype: int64

In [9]:
spends = pd.Series([29.99, 45.00, 15.00, 60.00, 10.00],
index=['Netflix', 'Spotify', 'iCloud', 'HBO Max', 'YouTube Premium'])
print("\nDane do zadania:")
print(spends)

Dane do zadania:
Netflix            29.99
Spotify            45.00
iCloud             15.00
HBO Max            60.00
YouTube Premium    10.00
dtype: float64

In [10]:
price_hbo = spends.loc['HBO Max']
print(f"\nCena subskrypcji HBO Max: {price_hbo} USD miesięcznie")

Cena subskrypcji HBO Max: 60.0 USD miesięcznie

In [11]:
# wyświetlenie wszystkich subskrypcji powyżej 20 USD
high_spends = spends[spends > 20]
print("\nSubskrypcje powyżej 20 USD:")
print(high_spends)

Subskrypcje powyżej 20 USD:
Netflix    29.99
Spotify    45.00
HBO Max    60.00
dtype: float64

In [12]:
#wyswietl subskrypcje po nazwie
print("\nCena subskrypcji HBO Max:", spends['HBO Max'], "USD miesięcznie")

Cena subskrypcji HBO Max: 60.0 USD miesięcznie

In [13]:
#Zajebiste jestem zajarany tym :)
#wyświetl po numerze indeksu
print("\nCena subskrypcji Netflix:", spends[0], "USD miesięcznie")
print("\nCena subskrypcji Spotify:", spends[1], "USD miesięcznie")

Cena subskrypcji Netflix: 29.99 USD miesięcznie

Cena subskrypcji Spotify: 45.0 USD miesięcznie

C:\Users\sewml\AppData\Local\Temp\ipykernel_13000\1687396289.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("\nCena subskrypcji Netflix:", spends[0], "USD miesięcznie")
C:\Users\sewml\AppData\Local\Temp\ipykernel_13000\1687396289.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("\nCena subskrypcji Spotify:", spends[1], "USD miesięcznie")

In [14]:
# poprawka uzyj .loc i .iloc
print("\nCena subskrypcji YouTube Premium:", spends.loc['YouTube Premium'], "USD miesięcznie")
print("\nCena subskrypcji iCloud:", spends.iloc[2], "USD miesięcznie")

Cena subskrypcji YouTube Premium: 10.0 USD miesięcznie

Cena subskrypcji iCloud: 15.0 USD miesięcznie

DATA FRAME

In [15]:
data = {
    'Service': ['Netflix', 'Spotify', 'iCloud', 'HBO Max', 'YouTube Premium'],
    'Monthly Cost (USD)': [29.99, 45.00, 15.00, 60.00, 10.00],
    'Category': ['Entertainment', 'Music', 'Cloud Storage', 'Entertainment', 'Video']
}
#tworzenie DataFrame
df = pd.DataFrame(data)
print("\nDataFrame z danymi o subskrypcjach:")
display(df) #użycie display do ładniejszego wyświetlenia

DataFrame z danymi o subskrypcjach:

           Service  Monthly Cost (USD)       Category
0          Netflix               29.99  Entertainment
1          Spotify               45.00          Music
2           iCloud               15.00  Cloud Storage
3          HBO Max               60.00  Entertainment
4  YouTube Premium               10.00          Video

In [16]:
#wyciąganie pojedynczej kolumny
monthly_costs = df['Monthly Cost (USD)']
print("\nMiesięczne koszty subskrypcji:")
print(monthly_costs)

Miesięczne koszty subskrypcji:
0    29.99
1    45.00
2    15.00
3    60.00
4    10.00
Name: Monthly Cost (USD), dtype: float64

In [17]:
#lub inna metoda
display(df['Monthly Cost (USD)'])
# --- IGNORE ---

0    29.99
1    45.00
2    15.00
3    60.00
4    10.00
Name: Monthly Cost (USD), dtype: float64

In [18]:
print(df.iloc[4])

Service               YouTube Premium
Monthly Cost (USD)               10.0
Category                        Video
Name: 4, dtype: object

In [19]:
#sprawdzenie wymiarow tabeli
print("\nWymiary DataFrame (wiersze, kolumny):", df.shape)

Wymiary DataFrame (wiersze, kolumny): (5, 3)

In [20]:
# czy jest drogo ? (>30 USD)
expensive = df['Monthly Cost (USD)'] > 30
print("\nCzy subskrypcje są drogie (>30 USD)?")
print(expensive)

Czy subskrypcje są drogie (>30 USD)?
0    False
1     True
2    False
3     True
4    False
Name: Monthly Cost (USD), dtype: bool

In [21]:
#inaczej
wynik = df[df['Monthly Cost (USD)'] > 30]
print("\nSubskrypcje droższe niż 30 USD:")
display(wynik)

Subskrypcje droższe niż 30 USD:

   Service  Monthly Cost (USD)       Category
1  Spotify                45.0          Music
3  HBO Max                60.0  Entertainment

In [22]:
display(df)

           Service  Monthly Cost (USD)       Category
0          Netflix               29.99  Entertainment
1          Spotify               45.00          Music
2           iCloud               15.00  Cloud Storage
3          HBO Max               60.00  Entertainment
4  YouTube Premium               10.00          Video

In [23]:
# dodanie nowego wiersza
df.loc[len(df)] = ['Disney+', 12.99, 'Entertainment'] #dodanie nowej subskrypcji Disney+ len(df) zwraca aktualną liczbę wierszy, więc nowy wiersz zostanie dodany na końcu
print("\nDataFrame po dodaniu nowej subskrypcji Disney+:")
display(df)

DataFrame po dodaniu nowej subskrypcji Disney+:

           Service  Monthly Cost (USD)       Category
0          Netflix               29.99  Entertainment
1          Spotify               45.00          Music
2           iCloud               15.00  Cloud Storage
3          HBO Max               60.00  Entertainment
4  YouTube Premium               10.00          Video
5          Disney+               12.99  Entertainment

Tabela rośnie w miarę dodawania nowych danych. Możemy dodawać nowe kolumny i wiersze. Dlatego że sprawdza długość len za każdym razem i dopisuja na końcu, bo ma za każdym razem aktualną długość.

In [24]:
#przetrenuję w takim razie usuwanie wierszy i kolumn :)
df = df.drop('Disney+')
print("\nDataFrame po usunięciu subskrypcji Disney+:")
display(df)

KeyError: "['Disney+'] not found in axis"

z tego wywala error bo szuka disneya po indeksie a indeksem jest tu 0 1 2 itd a nie nazwa usługi. Trzeba by było zrobić reset index albo coś innego. Można powiedzieć mu że index to nazwa usługi.

In [ ]:
df = df.set_index('Service') #ustawienie kolumny 'Service' jako indeksu
print("\nDataFrame po ustawieniu kolumny 'Service' jako indeksu:")
display(df)

DataFrame po ustawieniu kolumny 'Service' jako indeksu:

                 Monthly Cost (USD)       Category
Service
Netflix                       29.99  Entertainment
Spotify                       45.00          Music
iCloud                        15.00  Cloud Storage
HBO Max                       60.00  Entertainment
YouTube Premium               10.00          Video
Disney+                       12.99  Entertainment

In [ ]:
#zostaw wszustko co nie nazywa sie Disney+
df = df[df['Service'] != 'Disney+']
display(df)

           Service  Monthly Cost (USD)       Category
0          Netflix               29.99  Entertainment
1          Spotify               45.00          Music
2           iCloud               15.00  Cloud Storage
3          HBO Max               60.00  Entertainment
4  YouTube Premium               10.00          Video

In [ ]:
df = len(df)
print("\nLiczba subskrypcji w DataFrame:", df)

Liczba subskrypcji w DataFrame: 5

In [ ]:
print(df.shape)

(6, 3)

In [ ]:
print("--- Kształt tabeli (wiersze, kolumny) ---")
print(df.shape)

print("\n--- Nazwy kolumn ---")
print(df.columns)

print("\n--- Informacje o typach danych i brakach ---")
df.info() # To jest super ważne w kursie Kodilla!

print("\n--- Szybkie statystyki (dla liczb) ---")
display(df.describe())

--- Kształt tabeli (wiersze, kolumny) ---
(6, 3)

--- Nazwy kolumn ---
Index(['Service', 'Monthly Cost (USD)', 'Category'], dtype='object')

--- Informacje o typach danych i brakach ---
<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Service             6 non-null      object
 1   Monthly Cost (USD)  6 non-null      float64
 2   Category            6 non-null      object
dtypes: float64(1), object(2)
memory usage: 364.0+ bytes

--- Szybkie statystyki (dla liczb) ---

       Monthly Cost (USD)
count            6.000000
mean            28.830000
std             20.155033
min             10.000000
25%             13.492500
50%             22.495000
75%             41.247500
max             60.000000

Value_count zwraca liczbę unikalnych wartości w kolumnie.

In [ ]:
category_stat = df['Category'].value_counts()
print("\n--- Liczba unikalnych wartości w kolumnie 'Category' ---")
print(category_stat)

--- Liczba unikalnych wartości w kolumnie 'Category' ---
Category
Entertainment    3
Music            1
Cloud Storage    1
Video            1
Name: count, dtype: int64

In [ ]:
import pandas as pd

# 1. Definiujemy style
styles = [
    {
        'selector': 'th',
        'props': [
            ('background-color', '#4CAF50'),
            ('color', 'white'),
            ('font-family', 'Arial'),
            ('text-align', 'center'),
            ('border', '1px solid black')
        ]
    }
]

# 2. Wyświetlamy główną tabelę (używamy display(), żeby nie zniknęła!)
print("--- Główna tabela z kolorowymi nagłówkami ---")
display(df.style.set_table_styles(styles))

# 3. Obliczamy statystyki i zamieniamy je na DataFrame, żeby też je ostylować
category_stat = df[['Category', 'Service']].value_counts().to_frame(name='Liczba wystąpień')

print("\n--- Statystyki kombinacji (też ostylowane) ---")
# Nakładamy te same style na tabelę statystyk
display(category_stat.style.set_table_styles(styles))

--- Główna tabela z kolorowymi nagłówkami ---

AttributeError: The '.style' accessor requires jinja2

In [ ]:
!pip install jinja2

Defaulting to user installation because normal site-packages is not writeable
Collecting jinja2
  Downloading jinja2-3.1.6-py3-none-any.whl.metadata (2.9 kB)
Collecting MarkupSafe>=2.0 (from jinja2)
  Downloading markupsafe-3.0.3-cp313-cp313-win_amd64.whl.metadata (2.8 kB)
Downloading jinja2-3.1.6-py3-none-any.whl (134 kB)
Downloading markupsafe-3.0.3-cp313-cp313-win_amd64.whl (15 kB)
Installing collected packages: MarkupSafe, jinja2

   -------------------- ------------------- 1/2 [jinja2]
   -------------------- ------------------- 1/2 [jinja2]
   ---------------------------------------- 2/2 [jinja2]

Successfully installed MarkupSafe-3.0.3 jinja2-3.1.6